.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 8px;
  width: 100%;
  max-width: 450px;
}

.input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #999999aa;
}

