.container {
  position: relative;
  padding: 12px 8px;
  width: 100%;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
  border-radius: 10px;
  background: #fafafa;
  box-shadow:  10px 10px 30px #d5d5d5,
             -10px -10px 30px #ffffff;
}

.container.hide {
  padding: 0;
  height: 0;
  opacity: 0;
  transform: translateY(100%);
}

.icon {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% + 25px);
}

.container > button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  border: none;
  border-radius: 20px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 10px 10px 30px #d5d5d5,
             -10px -10px 30px #ffffff;
}
