.container {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  transition: 2s;
}

.container.alert {
  background: #d94436;
  color: white;
}

.container.info {
  background: #6adddd;
}
